
body {
    padding-top: 3vw;
}

div.square {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin: 0px 5px 0px 5px;
    border: 2px solid black;
    /* border-radius: 50%; */

}

div#mode {
    width: 4em;
    height: 2em;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1em;
    font-size: 150%;
}

div.outer {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin: 0px 5px 0px 5px;
    border: 2px solid black;
    /* border-radius: 50%; */
}

div.row {
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
    padding: 1vw;
    padding-top: 0px;
    padding-bottom: 5px;
}

div#responseText {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: 30px;
    font-weight: bold;
}

div#checkText {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: 30px;
    font-weight: bold;
}

.unclickable {pointer-events: none;}